h2 { 
    font-family: Raleway; 
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
}

#title {
    font-size:40px;
}

#bodyID {
    margin-left:25px;

}